body{

  background-color: #C4C4C4;
}

/* Estilize os botões com contorno e sem preenchimento */
/* Estilos para a navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 10px;
  cursor: pointer;
}

/* Estilos para a seção de categorias (lado esquerdo) */
.categories {
  display: flex; /* Torna as categorias flexíveis (em linha) */
  align-items: center;
}

/* Estilos para cada categoria */
.categories span {
  margin-right: 20px; /* Espaço entre as categorias */
}


.categorias :hover {
  background-color: #3498db; /* Fundo colorido ao passar o mouse */
  color: #fff; /* Cor do texto ao passar o mouse */
}

.navbar {
  background-color: #fff;
  margin-top: 10px;
}

.navbar-list {
  list-style: none;
  display: flex; /* Torna os itens flexíveis (lado a lado) */
  padding: 0;
  margin: 1px;
}

.navbar-item {
  margin-right: 40px; /* Espaçamento entre os itens da Navbar */
}

.navbar-item:last-child {
  margin-right: 0; /* Remove a margem do último item para evitar espaçamento extra */
}

.navbar-item a {
  text-decoration: none;
  font-family: system-ui;
  color: #292828;
}

.navbar-item a:hover {
  text-decoration: underline;
  color: #690203;
  font-weight: bold;
}

/* Remover marcador de uma lista específica */
.no-bullet {
  list-style: none;
}

.fa.fa-search {
  padding-left: 10px;
}

.fa.fa-heart {
  padding-left: 10px;
}

.fa.fa-user {
  padding-left: 10px;
  padding-right: 20px;
}

/* Estilos para o container do carrossel */
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Centralize verticalmente na página */
}

/* Estilos para o wrapper do carrossel */
.carousel-wrapper {
  max-width: 100%; /* Defina a largura máxima como 100% para ocupar a largura total */
}

/* Estilos para o container do carrossel */
.swiper-container {
  width: 100%;
}

/* Estilos para os slides individuais do carrossel */
.swiper-slide {
  text-align: center;
  background-color: #fff; /* Cor de fundo dos slides */
}

/* Estilos para as imagens dentro dos slides */
.swiper-slide img {
  width: 100%; /* Faça as imagens ocuparem a largura total do slide */
  height: auto; /* Mantenha a proporção original da imagem */
}

/* Estilos para as setas de navegação */
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px; /* Largura das setas */
  height: 30px; /* Altura das setas */
  background-color: #333; /* Cor de fundo das setas */
  color: #fff; /* Cor do ícone das setas */
  border-radius: 50%; /* Borda arredondada das setas */
  cursor: pointer;
}

/* Posicionamento das setas de navegação */
.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.Slider {
    margin: 15px;
}