body{

  background-color: #C4C4C4;
}

/* Estilize os botões com contorno e sem preenchimento */
/* Estilos para a navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 10px;
  cursor: pointer;
}

/* Estilos para a seção de categorias (lado esquerdo) */
.categories {
  display: flex; /* Torna as categorias flexíveis (em linha) */
  align-items: center;
}

/* Estilos para cada categoria */
.categories span {
  margin-right: 20px; /* Espaço entre as categorias */
}


.categorias :hover {
  background-color: #3498db; /* Fundo colorido ao passar o mouse */
  color: #fff; /* Cor do texto ao passar o mouse */
}

.navbar {
  background-color: #fff;
  margin-top: 10px;
}

.navbar-list {
  list-style: none;
  display: flex; /* Torna os itens flexíveis (lado a lado) */
  padding: 0;
  margin: 1px;
}

.navbar-item {
  margin-right: 40px; /* Espaçamento entre os itens da Navbar */
}

.navbar-item:last-child {
  margin-right: 0; /* Remove a margem do último item para evitar espaçamento extra */
}

.navbar-item a {
  text-decoration: none;
  font-family: system-ui;
  color: #292828;
}

.navbar-item a:hover {
  text-decoration: underline;
  color: #690203;
  font-weight: bold;
}
